body{
    align-items: center;
    text-align: center;
    background-color: black;
}

h1 {
    color: white;
}

#logoutBtn{
    position: absolute;
    right: 10px;
    top: 49px;
    height: 30px;
    width: 80px;
}

button {
    cursor: pointer;
}

#taskTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#taskTable th, #taskTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white;
}

button{
    background-color: wheat;
}

#taskTable th {
    background-color: black;
    color: white;
}

#notificationPopup {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 20px;
}

#notificationTitle {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#notificationMessage {
    font-size: 14px;
    margin-top: 5px;
    color: white;
}

#closeNotificationBtn {
    margin-top: 10px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid;
    border-radius: 7px;
}

#closeNotificationBtn:hover {
    color: #0056b3;
}